/* styles/styles.css */

@import url('globals.css');
@import url('fonts.css');
@import url('utilities.css');
@import url('buttons.css');
@import url('prose.css');

/* ===== START ===== */
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* min-width: calc(320px - 4rem); */
}
form.hidden {
  display: none;
}

label {
  position: relative;
}
label > .required-star {
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  min-height: 2.5rem;
  border: 0px solid var(--color-bg-accent);
  border-radius: 0.875rem;
  outline: none;
  color: var(--color-text);
  background: var(--color-elevated);
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: var(--font-sm);
  font-family: inherit;
  font-feature-settings: inherit;
}
input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='tel']::placeholder,
input[type='password']::placeholder {
  color: var(--color-text-muted);
}

.link {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 500;
}
.link:hover {
  text-decoration: underline;
}

/* ===== END ===== */
.events {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.25rem;
}

.event {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 4.5rem;
}
.event img {
  border-radius: 0.5rem;
  width: 100%;
  height: 152px;
  object-fit: cover;
}

.icon-calendar {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: top;
  display: inline-block;
  background-image: url('../assets/icons/calendar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-check {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: top;
  display: inline-block;
  background-image: url('../assets/icons/check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-ticket {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: top;
  display: inline-block;
  background-image: url('../assets/icons/ticket.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 767px) {
  #events {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  #events {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ===== Адаптив ===== */
