/* styles/styles.css */

@import url('globals.css');
@import url('fonts.css');
@import url('utilities.css');
@import url('buttons.css');
@import url('prose.css');

/* ===== START ===== */
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* min-width: calc(320px - 4rem); */
}
form.hidden {
  display: none;
}

label {
  position: relative;
}
label > .required-star {
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  min-height: 2.5rem;
  border: 0px solid var(--color-bg-accent);
  border-radius: 0.875rem;
  outline: none;
  color: var(--color-text);
  background: var(--color-elevated);
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: var(--font-sm);
  font-family: inherit;
  font-feature-settings: inherit;
}
input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='tel']::placeholder,
input[type='password']::placeholder {
  color: var(--color-text-muted);
}

.link {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 500;
}
.link:hover {
  text-decoration: underline;
}

/* ===== END ===== */

/* ===== Адаптив ===== */
